Repository AleF83/http-server-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test

Prettier eslint integration
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

nodemon added
  .jestrc.json
  .lintstagedrc.json
  nodemon.json
  package.json
  src/index.ts
  src/server.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

fastify test
  src/index.ts
  src/server.ts
  tests/test.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write, yarn test

Add renovate.json
  renovate.json
Due: prettier --write

renovate bot integrated
  .renovaterc
Due: none

Pin dependency fastify to 2.14.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v10.2.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency ts-jest to v26.1.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency ts-node to v8.10.2
  package.json
  yarn.lock
Due: prettier --write

basic functionality
  .eslintrc
  .jestrc.json
  package.json
  src/adminService.spec.ts
  src/adminService.ts
  src/serviceBase.spec.ts
  src/serviceBase.ts
  src/serviceMock.spec.ts
  src/serviceMock.ts
  src/serviceMockManager.spec.ts
  src/serviceMockManager.ts
  tests/test.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

eslint-plugin-jest
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

dockerized
  .dockerignore
  Dockerfile
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, yarn test

Update typescript-eslint monorepo to v3.1.0
  package.json
  yarn.lock
Due: prettier --write

more linting
  .eslintrc
  package.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v10.2.8
  package.json
  yarn.lock
Due: prettier --write

coverage flag added to unit tests
  package.json
Due: prettier --write

NestJS
  .eslintrc
  .jestrc.json
  .lintstagedrc.json
  Dockerfile
  e2e/simple-flow.e2e-spec.ts
  package.json
  src/adminService.spec.ts
  src/adminService.ts
  src/app.module.ts
  src/index.ts
  src/mock-management/mock-management.controller.spec.ts
  src/mock-management/mock-management.controller.ts
  src/mock-management/mock-management.module.ts
  src/mock-management/mock-management.service.spec.ts
  src/mock-management/mock-management.service.ts
  src/server.ts
  src/serviceBase.spec.ts
  src/serviceBase.ts
  src/serviceMock.spec.ts
  src/serviceMock.ts
  src/serviceMockManager.spec.ts
  src/serviceMockManager.ts
  tests/app.module.spec.ts
  tests/test.spec.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Update dependency eslint to v7.2.0
  package.json
  yarn.lock
Due: prettier --write

Mock management module
  Dockerfile
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/simple-flow.e2e-spec.ts
  package.json
  src/constants.ts
  src/mock-management/__snapshots__/mock-management.controller.spec.ts.snap
  src/mock-management/mock-management.controller.spec.ts
  src/mock-management/mock-management.controller.ts
  src/mock-management/mock-management.service.spec.ts
  src/mock-management/mock-management.service.ts
  src/types.ts
  tests/__snapshots__/mock-management.spec.ts.snap
  tests/app.module.spec.ts
  tests/mock-management.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Update dependency lint-staged to v10.2.9
  package.json
  yarn.lock
Due: prettier --write

Update dependency typescript to v3.9.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-import to v2.21.1
  package.json
  yarn.lock
Due: prettier --write

Renaming + Start of response module
  .lintstagedrc.json
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/simple-flow.e2e-spec.ts
  package.json
  src/app.module.ts
  src/fake-server/fake-server.module.ts
  src/fake-server/fake-server.service.ts
  src/mock-management/mock-management.controller.spec.ts
  src/mock-management/mock-management.controller.ts
  src/mock-management/mock-management.module.ts
  src/server-management/__snapshots__/server.controller.spec.ts.snap
  src/server-management/server-management.module.ts
  src/server-management/server.controller.spec.ts
  src/server-management/server.controller.ts
  src/server-management/server.repository.spec.ts
  src/server-management/server.repository.ts
  src/server-responses/server-response.controller.ts
  src/server-responses/server-response.module.ts
  src/types.ts
  tests/__snapshots__/server-management.spec.ts.snap
  tests/mock-management.spec.ts
  tests/server-management.spec.ts
  tests/server-response-management.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Update typescript-eslint monorepo to v3.2.0
  package.json
  yarn.lock
Due: prettier --write

Fake server - initial commit
  .dockerignore
  .eslintrc
  .lintstagedrc.json
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/simple-flow.e2e-spec.ts
  package.json
  src/fake-server/fake-server.contoller.spec.ts
  src/fake-server/fake-server.controller.ts
  src/fake-server/fake-server.module.ts
  src/fake-server/fake-server.service.ts
  src/server-management/__snapshots__/server.controller.spec.ts.snap
  src/server-management/server.controller.spec.ts
  src/server-management/server.controller.ts
  src/server-management/server.repository.spec.ts
  src/server-management/server.repository.ts
  src/types.ts
  tests/server-management.spec.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Update dependency @types/jest to v26
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-import to v2.21.2
  package.json
  yarn.lock
Due: prettier --write

test endpoint added to fake server
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  package.json
  src/fake-server/fake-server.contoller.spec.ts
  src/fake-server/fake-server.controller.ts
  src/fake-server/fake-server.service.ts
  src/server-management/__snapshots__/server.controller.spec.ts.snap
  src/types.ts
Due: eslint --fix, prettier --write, yarn test

A few config changes
  .dockerignore
  .gitignore
  Dockerfile
  nodemon.json
  package.json
  yarn.lock
Due: prettier --write

Extract request data
  .eslintrc
  package.json
  src/fake-server/fake-server.contoller.spec.ts
  src/fake-server/fake-server.controller.ts
  src/types.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: prettier --write

Client npm module added
  .dockerignore
  .gitignore
  Development.Dockerfile
  Dockerfile
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/simple-flow.e2e-spec.ts
  lerna.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/fake-server.ts
  packages/client/src/index.ts
  packages/client/src/server-management.ts
  packages/client/tsconfig.json
  packages/client/yarn.lock
  packages/common/package.json
  packages/common/src/fake-server.ts
  packages/common/src/index.ts
  packages/common/src/request-matching.ts
  packages/common/tsconfig.json
  src/fake-server/fake-server.service.ts
  src/server-management/server.controller.spec.ts
  src/server-management/server.controller.ts
  src/server-management/server.repository.spec.ts
  src/server-management/server.repository.ts
  src/server-responses/server-response.controller.ts
  src/types.ts
  tests/server-management.spec.ts
  tests/server-response-management.spec.ts
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Client package with unit tests
  packages/client/.jestrc.json
  packages/client/package.json
  packages/client/src/fake-server.spec.ts
  packages/client/src/fake-server.ts
  packages/client/src/index.ts
  packages/client/src/server-management.spec.ts
  packages/client/src/server-management.ts
  packages/client/tests/server-management.spec.ts
  packages/client/tsconfig.json
  packages/common/src/fake-server.ts
  packages/common/src/index.ts
  packages/common/src/server-calls.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Pin dependency lerna to 3.22.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-prettier to v3.1.4
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v3.3.0
  package.json
  yarn.lock
Due: prettier --write

E2E tests with client module
  .jestrc.json
  e2e/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/simple-flow.e2e-spec.ts
  package.json
  packages/client/src/fake-server.spec.ts
  packages/client/src/fake-server.ts
  src/fake-server/fake-server.controller.ts
  src/fake-server/fake-server.service.ts
  src/server-responses/server-response.controller.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

Separation of service code and repo code
  .dockerignore
  e2e/.jestrc.json
  e2e/package.json
  e2e/specs/__snapshots__/simple-flow.e2e-spec.ts.snap
  e2e/specs/simple-flow.e2e-spec.ts
  e2e/tsconfig.json
  lerna.json
  package.json
  service/.dockerignore
  service/.jestrc.json
  service/Development.Dockerfile
  service/Dockerfile
  service/nodemon.json
  service/package.json
  service/src/app.module.ts
  service/src/constants.ts
  service/src/fake-server/fake-server.contoller.spec.ts
  service/src/fake-server/fake-server.controller.ts
  service/src/fake-server/fake-server.module.ts
  service/src/fake-server/fake-server.service.ts
  service/src/index.ts
  service/src/server-management/__snapshots__/server.controller.spec.ts.snap
  service/src/server-management/server-management.module.ts
  service/src/server-management/server.controller.spec.ts
  service/src/server-management/server.controller.ts
  service/src/server-management/server.repository.spec.ts
  service/src/server-management/server.repository.ts
  service/src/server-responses/server-response.controller.ts
  service/src/server-responses/server-response.module.ts
  service/src/types.ts
  service/tests/__snapshots__/server-management.spec.ts.snap
  service/tests/server-management.spec.ts
  service/tests/server-response-management.spec.ts
  service/tsconfig.json
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn test

tsconfig and jest.config fixed
  e2e/tsconfig.json
  package.json
  packages/client/.jestrc.json
  packages/client/tsconfig.json
  tsconfig.json
Due: prettier --write

debug locally and in container
  .dockerignore
  .vscode/launch.json
  .vscode/tasks.json
  service/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yaml,yml,md})
  yarn test: any of: *.ts
